
header {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
    padding: 10px 0;
}

.hamburger {
    width: 5%;
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
}

h1.title {
    width: 95%;
    height: 70px;
    color: white;
    line-height: 70px;
    font-size: 30px;
    padding-left: 2%;
    font-family: ‘Roboto’, sans-serif;
}

.list {
    text-align: center;
    width: 100%;
    display: none;
    z-index: 2;
    position: absolute;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
}

.section {
    width: 100%;
    background: #4A4A4A;
    padding: 7px 0;
    text-align: center;
    height: 60px;
    line-height: 50px;
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text],
button {
    width: 80%;
    margin: 5px 10%;
    height: 40px;
}

input[type=text]{
    margin-bottom: 25px;
}

button{
    background-color: #000;
    color: #fff;
}

label{
    background-color: #fff;
    text-align: left;
    position: relative;
    left: 10%;
    width: 80%;
    height: 40px;
    margin-bottom: 25px;
    margin-left: 50px;
    padding-top: 7px;
    padding-left: 10px;
}

input[type=radio]{
   margin-left: 75px;
}

.book-container {
    width: 80%;
    margin: 10px 10% 20px;
    background-color: #b1b1b1;
    border-radius: 4px;
    box-shadow: 5px 5px 2px 2px #414141;
}

span {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

/* Form pop up */
/* The Modal (background) */
#updateFrom,
#popupMessage {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #formContent,
  #message-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  