header {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
    padding: 10px 0;
}

.hamburger {
    width: 5%;
}

.hamburger div {
    cursor: pointer;
    text-align: right;
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 1px;
}

h1.title {
    width: 95%;
}

.list {
    text-align: center;
    width: 100%;
    display: none;
}

nav.list ul li a{
    color: #fff !important;
    display: block;
}

.section {
    width: 100%;
    background-color: #808080;
    padding: 7px 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text],
button,
label {
    width: 80%;
    margin: 5px 10%;
}

